#heat_parent
{
    text-align: center;
    justify-content: center;
}
#heat_map
{
    width: 100%;
    display: none;
    margin: auto;
}
.timeLabel, .dayLabel {
    font-size: 1.6rem;
    fill: #AAAAAA;
    font-weight: 300;
}

text.axis-workweek, text.axis-worktime {
    fill: #404040;
    font-weight: 400;
}

  
.credit {
    font-size: 1.2rem;
    fill: #AAAAAA;
    font-weight: 400;
}

.axis path, .axis tick, .axis line {
      fill: none;
      stroke: none;
  }


.legendTitle {
      font-size: 1.6rem;
      fill: #4F4F4F;
      font-weight: 300;
}