ul
{
	list-style-type: none;
	padding: 0;
  	margin: 0;
}
button
{
	background-color: transparent;
	border: none;
	font-size: large;
}
ul.main_info{

	display: table;      
  	padding: 0;          
  	margin: 0;           
  	width: 100%;         
  	text-align: center;

}

ul.main_info>li 
{
	
	display: table-cell;
	text-align: center;
}

.dropnav {
	width : 500px; 
	max-width: 500px;
	background: #d9d9d9;
	margin : 40px auto; 
	text-align: center;
  }


.main_info ul li:hover {
	background-color: rgb(119, 235, 167);
	font-weight: 900;
	letter-spacing: 1px;
	transition: background-color .8s ease;
}
.drop {
	padding : 30px;
	background : #2d2f31; 
	color : white;
	font-size : 1.2em;
	font-variant : small-caps;
	cursor : pointer;
	display: block;
}
  
.drop::after {
	float: right;
	right: 10%;
	content: "X";
}

.slide {
	clear:both;
	width:100%;
	height:0px;
	overflow: hidden;
	text-align: center;
	transition: height .4s ease;
}


.slide li {padding : 30px; }
  
#sbtouch {position: absolute; opacity: 0; height: 0px;}    
#sbtouch:checked + .slide {height: 400px;} 

#sttouch {position: absolute; opacity: 0; height: 0px;}    
#sttouch:checked + .slide {height: 500px;}

@media (max-width: 960px) and (min-width: 501px) {
	ul.main_info>li  { width: 50%; } /* Show 2 logos per row on medium devices (tablets, phones in landscape) */
}
  
@media (max-width: 500px) {
	ul.main_info>li  { width: 100%; } /* On small screens, show one logo per row */
}
  
@media (max-width: 960px) {
	.ul.main_info {
	  display: block;
	}
	
	ul.main_info>li {
	  display: inline;
	}
}