body
{
	font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    background-color: #ffffff;
}
.container
{
    height: 100%;
}
.cuscontent
{
    width:50%;
    height: 100%;
    margin-left: auto;
    text-align: center;
    margin-right: auto;
    background-color: #070707;
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
}
.cuscontent a
{
    color: rgb(0, 255, 242);
}
@media (max-width: 900px) {
    .cuscontent
    {
        width: 100%;
    }
}