body
{
	font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    background-color: #ffffff;
}
.container
{
    margin-top: auto;
    min-height: 100%;
    /* border: 1px solid red; */
    display: flex;
    /* position: relative; */
    /* margin-bottom: 20px; */
}
.cuscontent
{
    margin-top: 50px;
    width:50%;
    /* height: 100%; */
    margin-left: auto;
    text-align: center;
    margin-right: auto;
    background-color: #070707;
    display: block;
    justify-content: center;
    color: rgb(255, 255, 255);
}
.cuscontent a
{
    color: rgb(0, 255, 242);
}
@media (max-width: 900px) {
    .cuscontent
    {
        width: 100%;
    }
}
.gmap
{
    /* border: 1px solid red; */
    width: 100%;

}