.chartdiv {
  display: none;
  width: 1050px;
  margin-left: auto;
  justify-content: center;
  padding-right: 50px;
  margin-right: auto;
  height: 400px;
}
/* @media (min-width: 1200px)
{
  .chartdiv
  {   
    width: 60%;
  }
}
@media (max-width: 1200px) and (min-width: 900px)
{
  .chartdiv
  {
    width: 80%;
  }
}
@media (max-width: 900px)
{
  .chartdiv
  {
    width: 100%;
  }
} */