body{
    margin:0; 
    padding:0;

}
.foot
{   
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    margin-bottom: 0px;
}
.foot img
{
    height: 50px;
}
.foot #cyl
{
    margin-top: 6px;
}
#iiitimg
{
    height: 60px;
}
.foot ul
{
    display: table;
    margin: 0 auto;
    overflow: hidden;
}
.foot ul li
{
    padding: 10px 30px;
    display: inline;
    float: left;
}
.foot ul h3
{
    margin-left: -52px;
    margin-top: 21px;
    color: #c2c2c2;
    font-size: medium;
}