body{
    margin:0; /* removes any margin (especially at the bottom) */
    padding:0; /* removes any padding (especially at the bottom) */

    min-height: 100vh; 
  
    display: grid;
    grid-template-rows: auto 1fr auto;

}
footer{
    margin-top: auto;
}
.foot
{   
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    margin-bottom: 0px;
}
.foot img
{
    height: 50px;
}
#iiitimg
{
    height: 60px;
}
.foot ul
{
    display: table;
    margin: 0 auto;
    overflow: hidden;
}
.foot ul li
{
    padding: 10px 30px;
    display: inline;
    float: left;
}
.foot ul h3
{
    margin-left: -52px;
    margin-top: 12px;
}