body
{
	font-family: 'IBM Plex Sans Thai Looped', sans-serif;
}
.htu_out_div{
    min-height: 100%;
    margin-bottom: -80px;
    width: 100%;
    margin: auto;
    margin-top: 80px;
    padding: 0;
}
.prodBody img
{
  width: 70%;
}
.container {
    text-align: center;
    margin: auto;
    /* padding: 50px; */
    width: 100%;
    /* border: 1px solid red; */
  }
  
  .prodNav {
    font-size: 15px;
    /* background: #7e7e7e85; */
    border-radius: 20px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    margin: 50px 0 20px;
    line-height: 3.1;
  }
  .prodNav .ptItem {
    width: 230px;
    height: 40px;
    padding: 9px 35px;
    line-height: 20px;
    border-radius: 20px;
    background-color: rgb(243, 237, 237);
    border: 1px solid transparent;
    font-weight: 500;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    transition: all 0.3s ease-in-out;
  }
  
  .prodNav .ptItem.active,
  .prodNav .ptItem:hover {
    background: #ff5656;
    /* border-color: #000000; */
    color: rgb(253, 253, 253);
    /* font-weight: 700; */

  }
  
  .prodBody {
    border-radius: 5px;
  }
  
  .prodMain {
    display: none;
  }
  
  .prodMain.active {
    display: block;
  }
  
  #concept_parent
  {
    overflow-x: scroll;
  }
  ::-webkit-scrollbar{
   height: 4px;
   width: 4px;
   background: gray;
 }
 ::-webkit-scrollbar-thumb:horizontal{
   background: #000;
   border-radius: 10px;
 }