/* wouldn't these affect whole css of other pages? */
html, body {
  margin: 0;
  height: 100%;
}

* {
    box-sizing: border-box;
}
body
{
	font-family: 'IBM Plex Sans Thai Looped', sans-serif;
}
ul
{
	list-style-type: none;
	padding: 0;
  margin: 0;
}
button
{
	background-color: transparent;
	border: none;
	font-size: large;
}

/* -------------------------------- */
.top-nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background: black;
  color: rgb(255, 255, 255);
  height: 60px;
  padding: 1em;
}

.menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;

}
.menu label{
  cursor: pointer;
}

.menu > li {
  margin: 0;
  margin-right: 1em;
  transition: font-size .4s ease;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}
.menu li:hover
{
  color: red;
  font-size: large;
  cursor: pointer;
}
@media (max-width: 700px) 
{
    .menu 
    {
        display: none;
    }
    .menu-button-container
    {
        display: flex;
    }
    #menu-toggle:checked ~ .menu
    {
        position: absolute;
        padding: 0;
        margin: 0;
        display: flex;
        width: 100%;
        background-color: black;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* flex-wrap: wrap; */
        margin-top:195px;
        transition: max-height .4s ease;
        color: green;
    }
}