
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.nnav {
  height: 50px;
  width: 100%;
  background-color: #000000;
  position: fixed;
  z-index: 10000;
  top: 0;
}

.nnav > .nav-header {
  display: inline;
}

.nnav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nnav > .nav-btn {
  display: none;
}

.nnav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nnav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
  transition: font-size .4s ease;
}

.nnav > .nav-links > a:hover {
  color: red;
  font-size: 20px;
  cursor: pointer;
}

.nnav > #nav-check {
  display: none;
}

@media (max-width:790px) {
  .nnav > .nav-btn {
    display: inline-block;
    position: fixed;
    right: 0px;
    top: 0px;
  }
  .nnav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nnav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nnav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nnav > .nav-links {
    position: fixed;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nnav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nnav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nnav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}