body
{
	font-family: 'IBM Plex Sans Thai Looped', sans-serif;
} 
#container1
{
  min-height: 100%;
  text-align: center;
}
 #container
{
    text-align: center;
    margin-top: 10vh;
    justify-content: center;
}
table
{
    margin: auto;
    text-align: center;
    page-break-inside: auto;
    /* color: white; */
    /* background-color: rgb(0, 0, 0); */
}
tr
{
    page-break-inside: auto;
    page-break-after:5;
}
table.dataTable a {
  color: red;
}
.hidden
{
    display: none;
}


.prodNav {
    font-size: 12px;
    border-radius: 20px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    margin: 50px 0 20px;
    line-height: 1.1;
  }
  .prodNav .ptItem {
    padding: 9px 35px;
    line-height: 20px;
    border-radius: 20px;
    background-color: rgb(243, 237, 237);
    border: 1px solid transparent;
    font-weight: 500;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    transition: all 0.3s ease-in-out;
  }
  
  .prodNav .ptItem.active,
  .prodNav .ptItem:hover {
    background: #ff5656;
    color: rgb(253, 253, 253);

  }
  
  .prodBody {
    padding: 20px;
    border-radius: 5px;
  }
  
  .prodMain {
    display: none;
    padding: 20px;
  }
  
  .prodMain.active {
    display: block; 
    /* width: 100%; */
  }

 
  ::-webkit-scrollbar{
   height: 4px;
   width: 4px;
   background: gray;
 }
 ::-webkit-scrollbar-thumb:horizontal{
   background: #000;
   border-radius: 10px;
 }
 ::-webkit-scrollbar-thumb:vertical{
   background: #000;
   border-radius: 10px;
 }
   